@import url(../../global/global.css);
@import url(../../global/header.css);
@import url(../../global/menu-mobile.css);

@import url('modal.css');
@import url('select-dropdown.css');
@import url('skeleton.css');
@import url('types.css');

/* PAGE STRUCTURE */
.container {
  max-width: 1280px;
  margin: 20px auto;
}

main {
  display: grid;
  grid-template: 100px 100vh / 3fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.search-section {
  grid-column: 1 / 2;
  height: 80px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.div-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.search-section input[type='search'] {
  height: 100%;
  width: 90%;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #474c4d;
}

.pokedex {
  grid-row: 2 / 10;
}

.filter-pokedex {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.filter1 {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.select-order {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.select-order .btn-text {
  color: #011030;
}

.container-interval label {
  font-size: 16px;
  color: #011030;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.container-interval input {
  height: 40px;
  width: 5rem;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #011030;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #011030;
  text-align: center;
}

.filter2 {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.filter2 > * {
  flex: 1;
}

/* POKEDEX CONTENT */

.pokedex-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.pokemon-short-info {
  display: grid;
  margin-top: 20px;
  grid-template-rows: repeat(4, 50px);
  width: 100%;
  height: 200px;
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.hvr-float {
  transition: margin 0.3s ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  margin-top: 5px;
}

.pokemon-short-info.slide-left {
  animation: slideLeft 0.5s forwards;
}

.pokemon-short-info.slide-right {
  animation: slideRight 0.5s forwards;
}

.pokemon-short-info.slide-down {
  animation: slideDown 0.5s forwards;
}

.pokemon-short-info.slide-up {
  animation: slideUp 0.5s forwards;
}

.img-pokemon {
  margin: -30px auto 0 auto;
  max-height: 120px;
}

.largePokemon {
  margin-top: -50px;
}

.pokemon-short-info span {
  text-align: center;
  font-weight: bold;
}

.number {
  color: #8f9396;
  font-size: 0.8rem;
  align-self: flex-end;
  font-weight: bold;
}

.name {
  font-size: 1.3rem;
  letter-spacing: -0.05rem;
  align-self: center;
  font-weight: bold;
  text-transform: capitalize;
}

/* POKEMON INFO */

.pokemon-info {
  position: sticky;
  top: 10px;
  min-width: 378px;
  grid-row: 2 / 3;
}

.info-fixed {
  width: 100%;
  height: 97vh;
  display: grid;
  gap: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  justify-items: center;
  align-self: center;
  padding-bottom: 1.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.info-fixed::-webkit-scrollbar {
  width: 15px;
}

.info-fixed::-webkit-scrollbar-thumb {
  background: #ff5350;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  border-radius: 7px;
}

.info-fixed::-webkit-scrollbar-track {
  background: #fff;
}

.info-fixed .img-pokemon-info {
  padding-top: 1.3rem;
}

.info-fixed .name {
  font-size: 2rem;
}

.info-fixed .small-description {
  color: #8f9396;
  font-weight: 300;
  font-size: 0.9rem;
}

.info-fixed p {
  text-align: center;
  margin: 0.625rem 3rem;
  color: #000;
  font-weight: 300;
}

.info-characteristics {
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr 1fr;
  justify-items: center;
  text-align: center;
  gap: 15px;
  margin: 0 0.5rem;
}

.info1 {
  grid-column: 1 / 3;
}

.info1,
.info2 {
  display: grid;
  width: 100%;
  justify-items: center;
}

.pokemon-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  gap: 15px;
  box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.1);
  padding-bottom: 0.8rem;
}

.info2 .types {
  padding-top: 12px;
}

.info-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.9px;
}

.info-content {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #f5f7fd;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.image-pokemon {
  transform: scale(1.2);
}

.abilities {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
}

.ability {
  text-transform: capitalize;
}

.weakness-content {
  gap: 7px;
}

.img-weakness {
  max-width: 25px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.stats-background {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 65px;
  margin-top: 15px;
  background-color: #f5f7fd;
  border-radius: 20px;
  justify-content: space-around;
  font-weight: bold;
  box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.1);
}

.stats-type {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
  margin: 0 auto;
  font-size: 0.65rem;
  justify-content: center;
  align-items: center;
}

.stats-value {
  margin-bottom: 2px;
}

.total-background {
  background-color: #86baff;
}

.hp {
  background-color: #df2140;
}

.atk {
  background-color: #ff994d;
}

.def {
  background-color: #ffdc41;
}

.spA {
  background-color: #85ddff;
}

.spD {
  background-color: #baef95;
}

.spd {
  background-color: #fb94a8;
}

.tot {
  background-color: #8798d5;
}

.evolution {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.level {
  display: flex;
  background-color: #f5f7fd;
  width: 72px;
  height: 40px;
  font-size: 0.8rem;
  color: #474c4d;
  font-weight: bold;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.previous-next-pokemon {
  display: flex;
  width: 100%;
  height: 50px;
  border: 15px;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f7fd;
}

.previous-next-pokemon img {
  max-width: 1rem;
}

.previous,
.next {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.previous .name,
.next .name {
  font-size: 0.75rem;
}

.previous .number,
.next .number {
  font-size: 0.75rem;
  font-weight: 100;
  color: #011030;
  align-self: center;
}

.previous i {
  transition: transform 0.3s ease;
}

.previous:hover i {
  transform: translate3d(-7px, 0, 0);
}

.next i {
  transition: transform 0.3s ease;
}

.next:hover i {
  transform: translate3d(7px, 0, 0);
}

/* LOADER */

.loader {
  width: 50px;
  height: 50px;
  background-image: url('../../../img/pokeball-icon.svg');
  animation: isRotating 1s infinite;
  justify-self: center;
  position: absolute;
  bottom: 0;
}

/* ANIMATIONS */

@keyframes isRotating {
  to {
    transform: rotate(1turn);
  }
}

@keyframes slideLeft {
  from {
    transform: translate3d(-30px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideRight {
  from {
    transform: translate3d(30px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideDown {
  from {
    transform: translate3d(0 30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideUp {
  from {
    transform: translate3d(0, -30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/* RESPONSIVE */

@media (max-width: 1335px) {
  .container {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }

  main {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 40px;
  }

  .pokedex-content {
    gap: 150px 10%;
    grid-template-columns: 1fr 1fr;
  }

  .pokemon-short-info {
    width: 100%;
  }
}

@media (max-width: 1040px) {
  main {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .pokemon-info {
    display: none;
  }

  .pokedex-content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px 5%;
  }
}

@media (max-width: 800px) {
  .pokedex-content {
    grid-template-columns: 1fr 1fr;
  }

  .filter2 {
    flex-wrap: wrap;
  }

  .container {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (max-width: 580px) {
  .container {
    margin-left: 1%;
    margin-right: 1%;
  }
  .pokedex-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .types {
    padding-bottom: 0.5rem;
  }

  .pokemon-short-info {
    width: 85%;
  }
}
