.carousel {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin: 20px auto;
}

.wrapper {
  display: flex;
  gap: 40px;
  overflow: hidden;
  width: 920px;
}

.wrapper > .inner {
  display: flex;
  gap: 40px;
  transition: all 0.8s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card > img {
  display: block;
  width: 280px;
}

.card .price::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 20px;
  background-image: url('../../../img/icons/pokemon_dollar.svg');
  background-repeat: no-repeat;
  background-size: 15px;
}

.card .price {
  font-size: 2.3rem;
  color: #e88e2e;
}

.carousel .previous,
.carousel .next {
  all: unset;
  cursor: pointer;
}

.carousel .previous i,
.carousel .next i {
  transform: scale(4);
  margin: 20px;
  color: #eceeed;
  transition: transform 0.3s ease;
}

.carousel .previous i:hover,
.carousel .next i:hover {
  transform: scale(6);
}

@media (max-width: 1040px) {
  .wrapper {
    width: 600px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 280px;
  }
}
